.gradle/
build/
.gradle/.lock
.gradle/**/.bin
.gradle/buildOutputCleanup/
.gradle/file-system.probe
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
.m2/
target/
Archivos de registro
*.log
logs/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.class
*.bak
*.orig
*.swp
*.swo
*.properties.local
*.yml.local
.DS_Store
Thumbs.db